@model IEnumerable<AWO_Team14.Models.Showing>
@using AWO_Team14.Models;


@{
    ViewBag.Title = "All Showings";
}

<p>@Html.Raw(ViewBag.ErrorMessage)</p>

@if (User.IsInRole("Manager"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <p>@Html.ActionLink("Check the Showings for a Day", "CheckDayShowings")
    </p>
}

    <h2>Now Showing</h2>
<table class="table table-sm table-striped">
    <tr>
        <th>Theater One</th>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Friday", "DayShowings", new { ShowDate = "Friday", Theater = Theater.One })
        </td>
        <td>
            @Html.ActionLink("Saturday", "DayShowings", new { ShowDate = "Saturday", Theater = Theater.One })
        </td>
        <td>
            @Html.ActionLink("Sunday", "DayShowings", new { ShowDate = "Sunday", Theater = Theater.One })
        </td>
        <td>@Html.ActionLink("Monday", "DayShowings", new { ShowDate = "Monday", Theater = Theater.One })</td>
        <td>@Html.ActionLink("Tuesday", "DayShowings", new { ShowDate = "Tuesday", Theater = Theater.One })</td>
        <td>@Html.ActionLink("Wednesday", "DayShowings", new { ShowDate = "Wednesday", Theater = Theater.One })</td>
        <td>@Html.ActionLink("Thursday", "DayShowings", new { ShowDate = "Thursday", Theater = Theater.One })</td>
    </tr>
</table>

<table class="table table-sm table-striped">
    <tr>
        <th>Theater Two</th>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Friday", "DayShowings", new { ShowDate = "Friday", Theater = Theater.Two })
        </td>
        <td>
            @Html.ActionLink("Saturday", "DayShowings", new { ShowDate = "Saturday", Theater = Theater.Two })
        </td>
        <td>
            @Html.ActionLink("Sunday", "DayShowings", new { ShowDate = "Sunday", Theater = Theater.Two })
        </td>
        <td>@Html.ActionLink("Monday", "DayShowings", new { ShowDate = "Monday", Theater = Theater.Two })</td>
        <td>@Html.ActionLink("Tuesday", "DayShowings", new { ShowDate = "Tuesday", Theater = Theater.Two })</td>
        <td>@Html.ActionLink("Wednesday", "DayShowings", new { ShowDate = "Wednesday", Theater = Theater.Two })</td>
        <td>@Html.ActionLink("Thursday", "DayShowings", new { ShowDate = "Thursday", Theater = Theater.Two })</td>
    </tr>
</table>





<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ShowDate)
        </th>
        <th>
            Start Time
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Movie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Special)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Theater)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShowDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShowDate.TimeOfDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Special)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Theater)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ShowingID }) |
                @if (User.IsInRole("Manager"))
                {
                    <span>@Html.ActionLink("Edit", "Edit", new { id = item.ShowingID }) | </span>
                    @Html.ActionLink("Delete", "Delete", new { id = item.ShowingID })
                }
            </td>
        </tr>
    }

</table>



