@model AWO_Team14.Models.Transaction

@{
    ViewBag.Title = "ConfirmTransaction";
}

<h2>Confirm Transaction</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.TransactionID)

    <div class="form-group">
        Customer Name
        <div class="col-md-10">
            @Html.DisplayFor(model => model.User.FirstName)
            @Html.DisplayFor(model => model.User.LastName)
        </div>
    </div>
@if (Model.Giftee != null)
{
    <div class="form-group">
        Giftee
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Giftee.Email)
        </div>
    </div>
}
    <div class="form-group">
        @Html.LabelFor(model => model.Payment, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Payment, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TransactionDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.TransactionDate, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Confirm Transaction" class="btn btn-info" />
        </div>
    </div>
</div>
}
<table class="table">
        <tr>
            <th>TicketID</th>
            <th>Movie</th>
            <th>Showdate</th>
            <th>Showtime</th>
            <th>Price</th>
            <th>Status</th>
            <th>Seat</th>
            <th>Discounts</th>
        </tr>

@foreach (var item in Model.UserTickets)
{
    <tr>
        <td>@Html.DisplayFor(model => item.UserTicketID)</td>
        <td>@Html.DisplayFor(model => item.Showing.Movie.Title)</td>
        <td>@Html.DisplayFor(model => item.Showing.ShowDate.Date)</td>
        <td>@Html.DisplayFor(model => item.Showing.ShowDate.TimeOfDay)</td>
        <td>@Html.DisplayFor(model => item.CurrentPrice)</td>
        <td>@Html.DisplayFor(model => item.Status)</td>
        <td>@Html.DisplayFor(model => item.SeatNumber) </td>
        <td>@Html.DisplayFor(model => item.AppliedDiscounts)</td>
    </tr>
}

</table>

<table class="table table-sm table-bordered" style="width:30%">
    <tr>
        <th colspan="2" style="text-align:center">Order Summary</th>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Subtotal)</td>
        <td>@Html.DisplayFor(model => model.Subtotal)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.SalesTax)</td>
        <td>@Html.DisplayFor(model => model.SalesTax)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Total)</td>
        <td>@Html.DisplayFor(model => model.Total)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.PopcornPointsSpent)</td>
        <td>@Html.DisplayFor(model => model.PopcornPointsSpent)</td>
    </tr>

</table>

