@model AWO_Team14.Models.Transaction
@using AWO_Team14.Models

@{
    ViewBag.Title = "Transaction Details";
}

<h2>Transaction Details</h2>

<div>
    <h4>Transaction Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TransactionNumber)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.TransactionNumber)
        </dt>
        <br />
        <dt>
            Customer Name
        </dt>
        <dt>
            @Html.DisplayFor(model => model.User.FirstName)
            @Html.DisplayFor(model => model.User.LastName)
        </dt>
@if (Model.Giftee != null)
{
        <dt>
            Giftee
        </dt>
        <dt>
            @Html.DisplayFor(model => model.Giftee.Email)
        </dt>
}
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Payment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Payment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionDate)
        </dd>

    </dl>
</div>

<table class="table table-sm table-striped">
    <tr>
        <th>Transaction Details</th>
    </tr>
    <tr>
        <th>TicketID</th>
        <th>Movie</th>
        <th>Showdate</th>
        <th>Showtime</th>
        <th>Price</th>
        <th>Status</th>
        <th>Seat</th>
    </tr>
    @foreach (UserTicket t in Model.UserTickets)
    {
    <tr>
        <td>@Html.DisplayFor(model => t.UserTicketID)</td>
        <td>@Html.DisplayFor(model => t.Showing.Movie.Title)</td>
        <td>@Html.DisplayFor(model => t.Showing.ShowDate)</td>
        <td>@Html.DisplayFor(model => t.Showing.ShowDate.TimeOfDay)</td>
        <td>@Html.DisplayFor(model => t.CurrentPrice)</td>
        <td>@Html.DisplayFor(model => t.Status)</td>
        <td>@Html.DisplayFor(model => t.SeatNumber) </td>

    </tr>
    }
</table>

<table class="table table-sm table-bordered" style="width:30%">
    <tr>
        <th colspan="2" style="text-align:center">Order Summary</th>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Subtotal)</td>
        <td>@Html.DisplayFor(model => model.Subtotal)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.SalesTax)</td>
        <td>@Html.DisplayFor(model => model.SalesTax)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Total)</td>
        <td>@Html.DisplayFor(model => model.Total)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.PopcornPointsSpent)</td>
        <td>@Html.DisplayFor(model => model.PopcornPointsSpent)</td>
    </tr>

</table>

<p>
    @*TODO: Edit for managers only*@
    @Html.ActionLink("Edit", "Edit", new { id = Model.TransactionID }) |
    @Html.ActionLink("Change Seats/Return Tickets", "RemoveFromTransaction", new { id = Model.TransactionID })|
    @Html.ActionLink("Back to Transactions", "Index")
</p>
