@model AWO_Team14.Models.Transaction
@using AWO_Team14.Models

@{
    ViewBag.Title = "Transaction Details";
}

<h2>Transaction Details</h2>

<div>
    <h4>Current Transaction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TransactionID)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.TransactionID)
        </dt>
        <dt>
            Customer Name
        </dt>
        <dt>
            @Html.DisplayFor(model => model.User.UserName)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Payment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Payment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionDate)
        </dd>

    </dl>
</div>

<table class="table table-sm table-striped">
    <tr>
        <th>Transaction Details</th>
    </tr>
    <tr>
        <th>TicketID</th>
        <th>Movie</th>
        <th>Showdate</th>
        <th>Showtime</th>
        <th>Price</th>
        <th>Status</th>
        <th>Seat</th>
    </tr>
    @foreach (UserTicket t in Model.UserTickets)
    {
    <tr>
        <td>@Html.DisplayFor(model => t.UserTicketID)</td>
        <td>@Html.DisplayFor(model => t.Showing.Movie.Title)</td>
        <td>@Html.DisplayFor(model => t.Showing.ShowDate.Date)</td>
        <td>@Html.DisplayFor(model => t.Showing.ShowDate.TimeOfDay)</td>
        <td>@Html.DisplayFor(model => t.CurrentPrice)</td>
        <td>@Html.DisplayFor(model => t.Status)</td>
        <td>@Html.DisplayFor(model => t.SeatNumber) </td>

    </tr>
    }
</table>
<p>
    @Html.ActionLink("Add new ticket", "ChooseMovie", "Transactions", new { id = Model.TransactionID }, null) |
    @Html.ActionLink("Change Seats/Remove Tickets", "RemoveFromTransaction", "Transactions", new { id = Model.TransactionID }, null) |
    @Html.ActionLink("Checkout", "SubmitTransaction", new { id = Model.TransactionID })
</p>
