@model IEnumerable<AWO_Team14.Models.Transaction>

@{
    ViewBag.Title = "Received Gifts";
}

<h2>Received Gifts</h2>

<table class="table table-striped">
    <thead style="background-color: #fae3d9;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TransactionNumber)
            </th>
            <th>
                Gifted By
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PopcornPointsSpent)
            </th>
            <th></th>
        </tr>
</thead>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionNumber)
        </td>
        <td>
            @Html.DisplayFor(modeItem => item.User.FirstName)
            @Html.DisplayFor(modeItem => item.User.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Payment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PopcornPointsSpent)
        </td>
        <td>
            @*TODO: Edit and Delete for Managers only*@

            @Html.ActionLink("Details", "Details", new { id = item.TransactionID }) |
            @Html.ActionLink("Change Seats/Remove Tickets", "RemoveFromTransaction", new { id = item.TransactionID }) |




        </td>
    </tr>
    }

</table>
