@model IEnumerable<AWO_Team14.Models.UserTicket>
@{
    ViewBag.Title = "RemoveFromTransaction";
}

<h2>Change Seats & Remove From Transaction</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Showing.Movie.Title)
        </th>
        <th>
            Showdate
        </th>
        <th>
            Showtime
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            Seat
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Showing.Movie.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Showing.ShowDate.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Showing.ShowDate.TimeOfDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentPrice)
        </td>
        <td>
            @Html.DisplayFor(model => item.Status)
        </td>
        <td>
            @Html.DisplayFor(model => item.SeatNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "UserTickets", new { id = item.UserTicketID }, null) |
            @Html.ActionLink("Delete", "Delete", "UserTickets", new { id = item.UserTicketID }, null)
        </td>
    </tr>
    }

</table>

