@model AWO_Team14.Models.AppUser

@{
    ViewBag.Title = "Add Credit Card";
}

<h2>Add Credit Card</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Credit Cards</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.FirstName)
    @Html.HiddenFor(model => model.LastName)
    @Html.HiddenFor(model => model.Street)
    @Html.HiddenFor(model => model.City)
    @Html.HiddenFor(model => model.State)
    @Html.HiddenFor(model => model.Zip)
    @Html.HiddenFor(model => model.Birthday)
    @Html.HiddenFor(model => model.PhoneNumber)
    @Html.HiddenFor(model => model.Email)


    <div class="form-group">
        @Html.LabelFor(model => model.CreditCardNumber1, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CreditCardNumber1, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CreditCardNumber2, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CreditCardNumber2, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
