@model AWO_Team14.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>User Name:</dt>
        <dd>@Model.UserName</dd>

        <dt>UserID:</dt>
        <dd>@Model.UserID</dd>

        <dt>First Name:</dt>
        <dd>@Html.Raw(ViewBag.FirstName)</dd>

        <dt>Last Name:</dt>
        <dd>@Html.Raw(ViewBag.LastName)</dd>

        <dt>Address:</dt>
        <dd>@Html.Raw(ViewBag.Street + ", " + ViewBag.City + ", " + ViewBag.State + ", " + ViewBag.Zip)</dd>

        <dt>Birthday:</dt>
        <dd>@Html.Raw(ViewBag.Birthday)</dd>

        <dt>Popcorn Points:</dt>
        <dd>@Html.Raw(ViewBag.PopcornPoints)</dd>

        <dt>Email:</dt>
        <dd>@Model.Email</dd>

        <dt>Password:</dt>
        <dd>

            @if (Model.HasPassword)
        {
            @Html.ActionLink("Change your password", "ChangePassword")
    }


        </dd>

        <dt>Change Account Info:</dt>
        <dd> @Html.ActionLink("Change Account Info", "ChangeUserInfo", new { id = Model.UserID })</dd>
    </dl>


</div>
<hr />
