@model IEnumerable<AWO_Team14.Models.Movie>
@using AWO_Team14.Models

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MovieReview.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MovieReview.Review)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovieReview.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovieReview.Review)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MovieReviewID }) |
                @Html.ActionLink("Details", "Details", new { id = item.MovieReviewID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MovieReviewID })
            </td>
        </tr>
    }

</table>
