@model IEnumerable<AWO_Team14.Models.MovieReview>
@using AWO_Team14.Models

@{
    ViewBag.Title = "All Movie Reviews";
}

<h2>Your Movie Reviews</h2>

<p>@Html.Raw(ViewBag.ErrorMessage)</p>

@if (User.IsInRole("Customer"))
{
    <p>
        @Html.ActionLink("Review a movie", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            Movie
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Review)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Review)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @if (User.IsInRole("Customer"))
                {@Html.ActionLink("Edit", "EditUser", new { id = item.MovieReviewID });
            }
                @if (User.IsInRole("Employee") || User.IsInRole("Manager"))
                {@Html.ActionLink("Approve", "EditEmployee", new { id = item.MovieReviewID });
            }

                | @Html.ActionLink("Details", "Details", new { id = item.MovieReviewID }) |

            </td>
        </tr>
    }

</table>
