@using AWO_Team14.Controllers
@using AWO_Team14.Models
@{
    /**/

    ViewBag.Title = "Detailed Search";
}

<h2>Detailed Search</h2>

@using (Html.BeginForm("DisplayDetailedSearch", "Home", FormMethod.Get))
{
    <div class="container" style="background-color: #f0f0f0; padding: 10px">
        <div class="row justify-content-center">
            <p class="col form-group" style="padding-right: 10px">
                Title: @Html.TextBox("SearchTitle", null, new { @class = "form-control" })
            </p>
            <br />
            <p class="col form-group" style="padding-right: 10px">
                Tagline: @Html.TextBox("SearchTagline", null, new { @class = "form-control" })
                <br />
            </p>
        </div>

        <div class="row justify-content-center">
        <p class="col form-group" style="padding-right: 20px">
            Genre: @Html.ListBox("SearchGenres", (MultiSelectList)ViewBag.AllGenres, new { @class = "form-control" })
        </p>
        <p class="col form-group">
            Release Year:
            <br />
            <label class="radio">@Html.RadioButton("SearchYearType", RangeType.Before, true) Before</label>
            <label class="radio">@Html.RadioButton("SearchYearType", RangeType.After) After</label>
            <label class="radio">@Html.RadioButton("SearchYearType", RangeType.Equal) On</label>
            <br />
            @Html.TextBox("SearchYear", null, new { @class = "form-control" })
        </p>
        </div>
        <div class="row justify-content-center">
            <p class="col form-group">
                MPAA Rating:
            <span style="color: #ffb6b9"> MPAA Rating is required. Please choose "All" if you are not specifying an MPAA rating. </span>
                @Html.ListBox("MPAARating", (MultiSelectList)ViewBag.AllMPAA, new { @class = "form-control" })
            </p>

            <p class="col form-group">
                Actors: @Html.TextBox("SearchActors", null, new { @class = "form-control" })
                <br />
            </p>
        </div>
        <div class="row justify-content-center">
            <p class="col form-group">
                Average Rating:
                <br />
                <label class="radio">@Html.RadioButton("SelectedStar", StarComp.GreaterThan, true)Greater Than</label>
                <label class="radio">@Html.RadioButton("SelectedStar", StarComp.LessThan)Less Than</label>
                <br />
                @Html.TextBox("SearchStarRatings", null, new { @class = "form-control" })
            </p>
            <p class="col form-group">
                <input type="submit" value="Search" class="btn btn-info" />
            </p>
        </div>
    </div>
}



