@using AWO_Team14.Models
@model AWO_Team14.Models.Movie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tagline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tagline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Overview)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Overview)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MPAA_Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MPAA_Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Runtime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Runtime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Actors)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Actors)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Genres)
        </dt>
        <dd>
            @foreach (Genre genre in Model.Genres)
        {
            <td>
                @Html.DisplayFor(modelItem => genre.GenreName)
            </td>
    }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Showings)
        </dt>
        <table class="table table-sm table-striped">
            <tr>
                <th>Show Date</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Details</th>
            </tr>
                @foreach (Showing showing in Model.Showings)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => showing.ShowDate)</td>
                    <td>@Html.DisplayFor(modelItem => showing.ShowDate.TimeOfDay)</td>
                    <td>@Html.DisplayFor(modelItem => showing.EndTime)</td>
                    <td>@Html.ActionLink("Details", "Details", "Showings", new { id = showing.ShowingID }, null)</td>
                </tr>
            }
           </table>



    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MovieID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
