@using AWO_Team14.Controllers
@{
    /**/

    ViewBag.Title = "DetailedSearch";
}

<h2>Detailed Search</h2>

@using (Html.BeginForm("DisplayDetailedSearch", "Home", FormMethod.Get))
{
    <p class="form-group">
        Title: @Html.TextBox("SearchTitle", null, new { @class = "form-control" })
        <br />
    </p>
    <p class="form-group">
        Tagline: @Html.TextBox("SearchTagline", null, new { @class = "form-control" })
        <br />
    </p>
    <p class="form-group">
        Genre: @Html.ListBox("SearchGenres", (MultiSelectList)ViewBag.AllGenres, new { @class = "form-control" })
    </p>
    <p class="form-group">
        Release Year: <input type="date" name="SearchYear" class="form-control" />
    </p>
    @*<p class="form-group">
            MPAA Rating: @Html.DropDownList("SearchMPAA", (SelectList)ViewBag.AllMPAA, new { @class = "form-control" })
            @Html.EnumDropDownListFor("SearchMPAA", , new { @class = "form-control" })
        </p>
    *@
    @*<p class="form-group">
            Customer Rating:
            <label class="radio">@Html.RadioButton("SearchRange", RangeType.Greater, true)Greater Than</label>
            <label class="radio">@Html.RadioButton("SearchRange", RangeType.Less)Less Than</label>
            @Html.TextBox("SearchCustRating", null, new { @class = "form-control" })
        </p>
    *@
    <p class="form-group">
        Actors: @Html.TextBox("SearchActors", null, new { @class = "form-control" })
        <br />
    </p>
    <p class="form-group">
        <input type="submit" value="Search" class="btn btn-default" />
    </p>
}



