@using AWO_Team14.Models

@model IEnumerable<AWO_Team14.Models.Movie>

@{
    ViewBag.Title = "Longhorn Cinema";
}

<h1 style="font-family: 'Oleo Script Swash Caps', cursive">
    <br/>
    Welcome to Longhorn Cinema
    @if (ViewBag.Name != null)
    {
       @Html.Raw("," + ViewBag.Name)
    }
</h1>
    <p>
        Currently Showing @Html.Raw(ViewBag.DisplayedMovies) out of @Html.Raw(ViewBag.TotalMovies) Movies
    </p>


    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tagline)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Overview)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReleaseYear)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MPAA_Rating)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Runtime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Actors)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Genres)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Showings)
                </th>
                <th></th>
            </tr>
        </thead>

            @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tagline)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Overview)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MPAA_Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Runtime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Actors)
                </td>
                @foreach (Genre genre in item.Genres)
            {
                <td>
                    @Html.DisplayFor(modelItem => genre.GenreName)
                </td>
        }
                @foreach (Showing showing in item.Showings)
            {
                if (showing.ShowDate > DateTime.Now)
                {
                    <td>
                        @Html.DisplayFor(modelItem => showing.ShowDate)
                        @Html.DisplayFor(modelItem => showing.ShowDate.TimeOfDay)
                        @Html.DisplayFor(modelItem => showing.EndTime)
                        @Html.ActionLink("Details", "Details", "Showings", new { id = showing.ShowingID }, null)
                    </td>
            }



        }
                <td>
                    @Html.ActionLink("Edit", "Edit", "Movies", new { id = item.MovieID }, null) |
                    @Html.ActionLink("Details", "Details", new { id = item.MovieID }) |
                    @Html.ActionLink("Delete", "Delete", "Movies", new { id = item.MovieID }, null)
                </td>

            </tr>
    }

    </table>
