@model IEnumerable<AWO_Team14.Models.UserTicket>

@{
    ViewBag.Title = "UserTickets Index";
}

<h2>UserTickets Index</h2>

<table class="table">
    <tr>
        <th>Movie</th>
        <th>Showdate</th>
        <th>Showtime</th>
        <th>Price</th>
        <th>Status</th>
        <th>Seat</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(model => item.Showing.Movie.Title)</td>
            <td>@Html.DisplayFor(model => item.Showing.ShowDate.Date)</td>
            <td>@Html.DisplayFor(model => item.Showing.ShowDate.TimeOfDay)</td>
            <td>@Html.DisplayFor(model => item.CurrentPrice)</td>
            <td>@Html.DisplayFor(model => item.Status)</td>
            <td>@Html.DisplayFor(model => item.SeatNumber) </td>
            <td>
                @Html.ActionLink("Choose a seat", "Edit", new { id = item.UserTicketID }) |
                @Html.ActionLink("Details", "Details", new { id = item.UserTicketID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.UserTicketID })
            </td>
        </tr>
    }

</table>
