@model AWO_Team14.Models.Schedule
@using AWO_Team14.Models
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Schedule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Published)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Published)
        </dd>

    </dl>
    <table class="table table-sm table-striped">
        <tr>
            <th>Show Date</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Title</th>
            <th>Theater</th>
        </tr>
        @foreach (Showing showing in Model.Showings)
        {
        <tr>
            <td>@Html.DisplayFor(modelItem => showing.ShowDate)</td>
            <td>@Html.DisplayFor(modelItem => showing.ShowDate.TimeOfDay)</td>
            <td>@Html.DisplayFor(modelItem => showing.EndTime)</td>
            <td>@Html.DisplayFor(modelItem => showing.Movie.Title)</td>
            <td>@Html.DisplayFor(modelItem => showing.Theater)</td>
            @if (Model.Published == true)
            {
               <td>
               @Html.ActionLink("Reschedule", "Reschedule", "Showings", new { id = showing.ShowingID }, null) |
               @Html.ActionLink("Cancel", "Delete", "Showings", new { id = showing.ShowingID }, null)
               </td>
            }
            else
            {
                <td>
                @Html.ActionLink("Edit", "Edit", "Showings", new { id = showing.ShowingID }, null) |
                @Html.ActionLink("Delete", "Delete", "Showings", new { id = showing.ShowingID }, null)
            </td>
            }
        </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Create Showing", "Create", "Showings", new { ScheduleID = Model.ScheduleID }, null) |
    @Html.ActionLink("Edit", "Edit", new { id = Model.ScheduleID }) |
    @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("Copy", "Copy", new { id = Model.ScheduleID }) |
    @Html.ActionLink("Check the Showings for a Day", "CheckDayShowings", "Showings")
    
</>
